<footer class="site-footer h-card">

  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <h2 class="footer-heading">About {{ site.title | escape }}</h2>

      <div class="footer-col footer-col-3">
        {%- assign date_format = site.theme_settings.date_format | default: "%Y-%m-%d" %}
        <p>Last updated: {{ site.time | date: date_format }}</p>
        <p>Made with ❤︎ by <a href="https://ryba.ren/">Ren Grace Ryba (she/her)</a> | Support transgender athletes 🏳️‍⚧️</p>
        <p>I live and work on the unceded land of the Kaurna people.</p>
        <p>All rights reserved.</p>
        <pre style="float:left" width="400">
      _.-'==='-._
    .'--.`   `.--'.
   /.'   \   /   `.\
  | /'-._/```\_.-'\ |
  |/    |     |    \|
  | \ .''-._.-''. / |
   \ |     |     | /
    '.'._.-'-._.'.'
jgs   '-:_____;-'
        </pre>


      </div>
    </div>

  </div>

</footer>
