<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="{{ site.theme_settings.favicon_media_type }}" media="(prefers-color-scheme: light)" href="{{ site.theme_settings.favicon | relative_url }}">
  <link rel="icon" type="{{ site.theme_settings.favicon_media_type }}" media="(prefers-color-scheme: dark)" href="{{ site.theme_settings.favicon_dark | relative_url }}">

  <title>{%- if page.title -%}{{ page.title | smartify }} • {{ site.title | smartify }}{%- else -%}{{ site.title | smartify }} • {{ site.description | smartify }}{%- endif -%}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | smartify }}{% else %}{{ site.description | smartify }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link type="application/atom+xml" rel="alternate" href="{{ '/feed.xml' | relative_url }}" title="{{ site.title | smartify }}">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
{{ content }}

{%- include footer.html -%}

</body>
</html>
